
<div class="container-fluid py-5 my-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                <div class="h-100 position-relative">
                    <img src="/HighTech/img/about-1.jpg" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                    <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                        <img src="/HighTech/img/about-2.jpg" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                <h5 class="text-primary">About Us</h5>
                <h1 class="mb-4">About returnSoft Agency and Our Cutting-Edge Web Solutions</h1>
                <p>At returnSoft Agency, we specialize in delivering high-quality Web solutions tailored to your needs. Our expertise spans .NET development, where we build robust and scalable applications, and comprehensive bug fixing services to ensure your systems run smoothly. We also offer advanced front-end solutions using Vue.js and React to create engaging and dynamic user experiences.</p>
                <p class="mb-4">Our team is dedicated to providing innovative solutions that not only meet current demands but also anticipate future needs. Whether you're looking to enhance your application’s functionality or resolve persistent issues, we have the skills and experience to help you succeed in a competitive landscape.</p>
                <a href="/Service/Index" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>
            </div>

        </div>
    </div>
</div>