

<div class="container-fluid project py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Our Project</h5>
            <h1>Our Recently Completed Projects</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-12 wow fadeIn" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-img">
                        <video class="img-fluid w-100 rounded" autoplay loop muted playsinline>
                            <source src="/HighTech/img/CarBook.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        @* <img src="/HighTech/img/project-1.jpg" class="img-fluid w-100 rounded" alt=""> *@
                        <div class="project-content">
                            <a href="#" class="text-center">
                                <h4 class="text-secondary">CarBook - Rent A Car Project</h4>
                                <p class="m-0 text-white">Full Stack .NET Project - Admin Panel</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 wow fadeIn" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="/HighTech/img/multi.jpeg" class="img-fluid w-100 rounded" alt="">
                        <div class="project-content">
                            <a href="#" class="text-center">
                                <h4 class="text-secondary">Multishop - E-Commerce </h4>
                                <p class="m-0 text-white">.NET Microservice Project - Admin Panel</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 wow fadeIn" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-img">
                        <video class="img-fluid w-100 rounded" autoplay loop muted playsinline>
                            <source src="/HighTech/img/traversal.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="project-content">
                            <a href="#" class="text-center">
                                <h4 class="text-secondary">Traversal - Travel Agency </h4>
                                <p class="m-0 text-white">.NET MVC Project with Admin and Member Panel</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 wow fadeIn" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="/HighTech/img/bomb.jpeg" class="img-fluid w-100 rounded" alt="">
                        <div class="project-content">
                            <a href="#" class="text-center">
                                <h4 class="text-secondary">BombBurger - Restaurant Management </h4>
                                <p class="m-0 text-white">.NET SignalR Project</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 wow fadeIn" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="/HighTech/img/Geair.jpeg" class="img-fluid w-100 rounded" alt="">
                        <div class="project-content">
                            <a href="#" class="text-center">
                                <h4 class="text-secondary">Geair - Airway Ticket</h4>
                                <p class="m-0 text-white">.NET Web API Project</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 wow fadeIn" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-img">
                        <video class="img-fluid w-100 rounded" autoplay loop muted playsinline>
                            <source src="/HighTech/img/Blogy.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="project-content">
                            <a href="#" class="text-center">
                                <h4 class="text-secondary">Blogy - Blog</h4>
                                <p class="m-0 text-white">.NET MVC Project with Admin Panel</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>